@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600,600italic,700italic);


@font-face {
    font-family: 'systemapic-icons';
    src:    url('../fonts/systemapic/systemapic-icons.eot?yl8l6p');
    src:    url('../fonts/systemapic/systemapic-icons.eot?yl8l6p#iefix') format('embedded-opentype'),
        url('../fonts/systemapic/systemapic-icons.ttf?yl8l6p') format('truetype'),
        url('../fonts/systemapic/systemapic-icons.woff?yl8l6p') format('woff'),
        url('../fonts/systemapic/systemapic-icons.svg?yl8l6p#systemapic-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}





.systemapic-icons {
	font-family: 'systemapic-icons';
	font-style: normal;
	font-weight: 500;
}

.systemapic-icon-projects-and-users:before {
	content: 'd';
}

.systemapic-icon-layers:before {
	content: 'l';
}