/* JØLLE */
/* JØLLE */
/* JØLLE */

.file-list-container {
    margin-top: 10px;
    }


/* XOXOXOXOX */
.file-list-container-file-list .data-list-line:hover,
.file-list-container-file-list .data-list-line.editingFileName {    
    color: black;
    }

.file-list-container-file-list .data-list-line.editingFileName {
    color: transparent;
    }


/* XOXOXOXO */
.data-list-line.file-selected,
.data-list-line.file-selected:hover {
    color: #579A84;
    }    

.file-list-container-file-list .data-list-line .file-popup-trigger {
    margin-top: 0px;
    margin-right: 0px;
    opacity: 0.0;
    cursor: pointer;
    background: #C7CACF;
    padding-left: 5px;
    }

.file-list-container-file-list .data-list-line:hover .file-popup-trigger,
.file-list-container-file-list .data-list-line.file-selected .file-popup-trigger,
.file-list-container-file-list .data-list-line.editingFileName .file-popup-trigger {
    opacity: 1;
    }

.file-popup-trigger:hover {
    opacity: 1 !important;
    }

.file-selected:before {
    content: '';
    display: none;
    }

.chrome-right {
    top: 9px;
    }

.data-list-line {
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-left: 0;
    width: 443px;
    border-radius: 4px;
    }

.chrome-data-top-title {
    text-transform: uppercase;    
    }

.chrome-header-title {
    padding-top: 15px;
    padding-left: 26px;
    border-bottom: none;
    background: transparent; 
    text-align: left; 
    color: black; 
    padding: 0;
    }

.file-list-container-file-list {
    position: relative;
    left: 0;
    }

.layer-list-container {
    margin-top: 0px;   
    margin-bottom: 0px; 
    }

.layer-name-content {
    text-indent: 43px;
    width: 325px;    
    }

.data-list-line .chrome-switch-container {
    left: 3px;
    top: 4px;
    }

.layer-radio {
    left: -20px;
    top: 4px;
    width: 17px;
    height: 17px;
    }

.chrome-data-outer-scroller {
    padding-left: 0;
    }

.chrome-data-outer-scroller {    
    width: 402px;
    }

.chrome-data-scroller {
    padding-left: 28px;
    padding-right: 25px;
    width: 402px;
    }    



.data-list-line.editingName {
    color: transparent;
    }

.file-action {
    position: relative;
    }


.file-action:hover:after {
    content: '';
    position: absolute;
    width: 142px;
    height: 100%;
    background: #EEE;
    left: -19px;
    top: 0;
    z-index: -1;
    }

.files-container .file-popup {
    top: 37px;
    }

.file-popup {
    right: -5px;
    }

.data-list-line.editingName .file-popup-trigger,
.data-list-line:hover .file-popup-trigger {
    opacity: 1;
    }

.file-popup-trigger:hover {
    opacity: 1 !important;
    }

.layers-container {
    margin-bottom: 15px;
    }

.baselayer-dropdown-wrapper {
    padding-left: 0;
    padding-right: 0;    
    }

.layer-name-input {
    left: 38px;
    padding-top: 0px;
    width: 280px;
    background: transparent;
    font-weight: 600;
    top: -1px;
    }

.file-name-input {
    background: transparent;
    font-weight: 600;
    padding-top: 5px;
    height: 27px;
    width: 315;
    left: 25px;
    position: absolute;
    top: 3px !important;
    visibility: visible;
    color: #3C4759 !important;

    }

.chrome-content-header {
    font-size: 18px;
    color: #3C4759;
    padding-bottom: 3px;
    font-size: 21px;
    font-weight: 600;
    margin-top: 20px;
    }

.file-list-separator {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 35px;
    }

.chrome-data-scroller {
    padding-top: 20px;
    }

.chrome-content-section-wrapper.toggles-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 6px;
    background: transparent;
    }

.chrome.chrome-content.chrome-pane.styler .chrome-metafield-line {
    font-size: 15px;
    }

.chrome-metafield-line-children .chrome-metafield-line {
    border: none;
    }

#color_ball_color {
    top: 17px !important;
    position: absolute !important;
    right: 0 !important;
    left: auto !important;    
    }

.chrome.chrome-content.chrome-pane.styler .chrome-metafield-line {
    padding-top: 1px;
    padding-bottom: 1px;
    }

.chrome-pane.styler .chrome-field-mini-input, 
.chrome-pane.styler .chrome-field-mini-input:focus {
    top: 6px;
    }

.chrome-color-range-wrapper {
    top: 5px;
    }

.chrome-pane.styler .chrome-switch-container {
    top: 9px;
    right: 2px;
    zoom: 1.3;
    }

.chrome.chrome-content.chrome-pane.styler .chrome-field-wrapper {
    padding: 0px 30px 50px 30px;    
    }

.smooth-fullscreen-save.update-style {
    font-size: 15px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    /*cursor: default;*/
    margin-bottom: 100px;
    }

.marked-changed {
    background: #3C4759;
    color: #FCFCFC;
    font-weight: 600;
    border: none;
    cursor: pointer !important;
    }

.marked-changed:hover {
    background: rgba(60, 71, 89, 0.85);
    color: #FCFCFC;
    }

.chrome-content.settings-button-wrapper {
    margin-left: 10px;
    }

.chrome-content.settings-button {
    margin-top: 3px;
    font-size: 14px;
    margin-right: -1px;
    padding-bottom: 3px;
    background: transparent;
    border: 1px solid #ccc;
    color: #3C4759;
    font-weight: 600;
    padding-right: 15px;
    padding-left: 15px;
    }

.chrome-content.settings-button:hover {
    background: #f6f6f6;    
    }

.chrome-content.settings-button:active {
    background: #f0f0f0;
    }

.chrome-content.settings-button.active-tab,
.chrome-content.settings-button.active-tab:hover,
.chrome-content.settings-button.active-tab:active {
    background: #3C4759;
    color: white;
    border: 1px solid #3c4759;
    font-weight: 700;
    }

.chrome-right {
    top: 5px;
    }

.chrome-content.settings-tabs-wrapper {
    top: 90px;
    padding-bottom: 95px;
    }

.settingsSelector-header {
    padding: 20px;
    padding-top: 9px;    
    padding-bottom: 13px;    
    }

.chrome-middle-section {
    padding-bottom: 90px;
    }

.chrome-middle-section-outer-scroller {
    width: 410px;
    }

.chrome.chrome-content.chrome-pane.styler .chrome-field-wrapper {
    /*padding: 0px 20px 50px 20px;*/
    padding: 0px 20px 20px 20px;
    /*padding: 20px;*/
    }

.chrome.chrome-content.styler-content.active-layer.wrapper {
    padding-left: 20px;
    }

.chrome-middle-section-inner-scroller {
    padding-right: 13px;
    width: 417px;
    }

input.chrome-field-input {
    background: transparent;
    width: 100%;
    }



.chrome-upload-button {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    float: right;
    top: 0;
    padding-right: 20px;
    background: #3C4759;
}

.chrome-upload-button:hover {
    background: #F9F9F9;
    color: #3F4652;
    border: 1px solid gainsboro;
    padding-top: 8px;
    padding-bottom: 8px;
    }

.chrome-data-inner {
    padding: 0;
    }

.files-container {
    padding-top: 2px;
    }

.chrome-switch-container {
    zoom: 1.1;
    }

.share-dropdown .share-item {
    padding-left: 18px;    
    }

.chrome-menu-button {
    text-indent: 1px;
    }

.smooth-fullscreen .chrome-switch-container {
    zoom: 1;
    }

.active-project,
.active-project:hover {
    background: #3C4759 !important;
    }

.project-icon {
    color: #CCC;    
    }    

.active-project .project-icon {
    color: white;
    }

.chrome-left {
    padding-top: 40px;
    overflow: hidden;
    }

.chrome-left-outer-scroller {
    width: 318px;
    padding-right: 21px;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    }

.chrome-left-title {
    border: none;
    margin-top: 0;
    padding-bottom: 5px;
    margin-left: 23px;
    color: #3C4759;    
    }

.chrome-left-container {
    margin-top: 20px;    
    }

.chrome-left-container.contacts {
    margin-top: 28px;    
    }

.chrome-left-new-button {
    width: 26px;
    height: 26px;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    padding: 0;     
    line-height: 20px;           
    right: auto;
    left: 240px;
    top: 2px;
    }

.chrome-left-invite-users,
.chrome-left-invite-users:hover {
    border: none;
    }

.chrome-left-invite-users:hover {
    color: black;
    }

.chrome-left-itemcontainer:hover {
    background: #EEE;    
    }

.chrome-content.title, 
.chrome-content.active-layer.title {
    font-size: 21px;
    font-weight: 600;
    text-transform: none;
    }

.chrome.chrome-content.cartocss.title {
    font-size: 21px;
    margin: 5px 5px 5px 20px;
    font-weight: 600;
    top: -5px;
    position: relative;
    }

.chrome.chrome-content.styler-content.active-layer.wrapper {
    padding-bottom: 20px;
    }

.layer-active .layer-menu-flyto {
    display: block;
    }

.leaflet-top.leaflet-left {
    margin-top: 39px;
    margin-left: 2px;    
    }

.leaflet-draw.leaflet-control {
    margin-left: 5px !important;    
    }

.cpu-wrapper {
    width: 9px;
    }



.leaflet-control-layermenu .scroller-frame,
.description-control-content-box {
    overflow: hidden;
    }

.leaflet-control-layermenu.leaflet-control {
    right: 0px;
    }

.chrome-button.layer {
    margin-right: 6px;
    }

.chrome-button.layer {
    width: 246px;
    border: none;
    position: absolute;
    right: 0;    
    }

.leaflet-right .leaflet-control {
    top: 40px;
    }

.layer-active .layer-menu-flyto {
    right: -2px;
    }

.file-list-container .data-list-line {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: default;
    }

.rounded-layer-button {
    border-radius: 0px 0px 4px 4px;
    }

#layer-menu-inner-content {
    border-radius: 0px 0px 4px 4px;
    }

.edit-mode #layer-menu-inner-content {
    border-radius: 0px 0px 0px 0px;
    }

.middle-item:after {
    border-radius: 0px 0px 4px 4px;
    }

.leaflet-control-attribution.leaflet-control {
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 4px;
    background: rgba(60, 71, 89, 0.6) !important;
    padding-bottom: 4px;
    }

#app {
    min-width: 1120px;
    }

.chrome-button.chrome-project-title,
.chrome-button.chrome-client-logo {
    cursor: default;
    }

.leaflet-left .leaflet-control {
    box-shadow: none !important;
    }

.leaflet-control-zoom-out, 
.leaflet-control-zoom-in {
    width: 30px !important;
    height: 30px !important;
    }

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-image: none;
    color: black !important;
    font-size: 22px !important;
    text-indent: 0 !important;    
    }

.leaflet-bar {
    box-shadow: none !important;
    }

.leaflet-bar a, .leaflet-bar a:hover {
    width: 30px !important;
    height: 30px !important;
    }

.leaflet-draw-toolbar a:before {
    width: 30px !important;
    height: 30px !important;    
    }

.leaflet-control-search .search-button {
    width: 30px !important;
    height: 30px !important;
    background: url('../images/search-icon.png') no-repeat 4px 5px !important;
    background-color: #FCFCFC !important;
    opacity: 0.7;
    }

.leaflet-control-search .search-button:hover {
    background: url('../images/search-icon.png') no-repeat 4px 5px !important;
    opacity: 1;
    background-color: #FCFCFC !important;
    }

.leaflet-control-search .search-input { 
    position: absolute;
    margin: 0;
    margin-left: 40px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    }

.leaflet-control-search.leaflet-control {
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px !important;
    border-radius: 4px !important;
    font-family: 'Open Sans', sans-serif;
    }

.leaflet-draw-draw-polygon:before {
    background-position: -29px 0px !important;    
    }

.leaflet-draw-section, .leaflet-draw-draw-polygon {
    width: 30px !important;
    height: 30px !important;
    }

.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-top {
    border-radius: 4px !important;
    }

.leaflet-control-zoom-in {
    border-radius: 4px 4px 0px 0px !important;
    }

.leaflet-control-zoom-out {
    border-radius: 0px 0px 4px 4px !important;
    }

.leaflet-popup-content-wrapper {
    border-radius: 4px;
    box-shadow: none;
    max-height: 400px;
    overflow-y: scroll;
    }

.description-control-content-box {
    border-radius: 0 0 4px 4px;
    }

.description-multiple-toggle-wrapper {
    border-radius: 4px 4px 0 0;
    }

.chrome-left-itemcontainer {
    margin-right: 0;
    }

.active-project, .active-project:hover {
    border-radius: 0;
    }

.active-project .chrome-left-popup-trigger {
    left: 250px;
    }

.contact-invite-icon {
    top: 4px;
    left: 260px;
    }

.contact-list-icon {
    left: 258px;    
    }

.feedback-pane {
    z-index: 999999999999999999;
    top: 0px;
    left: 40px;
    min-width: 250px;
    text-align: left;
    }


.chrome.chrome-content.styler-content.active-layer.wrapper {
    padding-right: 21px;
    }

.smooth-fullscreen-inner {
    padding-bottom: 200px;
    }

.leaflet-draw-actions {
    left: 31px;
    }

.leaflet-draw-actions-top.leaflet-draw-actions-bottom a {
    height: 31px;
    font-size: 12px;
    line-height: 31px;        
    }

.smooth-fullscreen-inner.invite {
    /*overflow: hidden;*/
    /*overflow: scroll;*/
    padding-bottom: 550px
    }

.no-layers {
    color: #C80000;
    }

.c3-header-wrapper {
    overflow: hidden;
    }

.leflet-container.leaflet-popup.tiny-pop-up {
    max-width: none;
    }

.layer-menu-item {
    overflow: hidden;  
    }

.each-multiple-description.one-layer {
    word-break: break-word;
    }

.legend-each-container {
    height: 20px;
    position: relative;
    }

.legend-each-name {
    /*text-indent: 31px;*/
    padding-left: 31px;
    position: relative;
    line-height: 1;
    top: 1px;
    max-width: 217px;
    overflow: hidden;
    /*word-break: break-word;*/
    }

.legend-each-color {
    opacity: 1;
    width: 25px;
    height: 17px;
    border-radius: 2px;
    position: absolute;
    left: 1px;
    top: 0px;  
    }

.add-target-wrapper {
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 15px;
    border-top: 1px dashed #eee;
    }





/* WIDER WIDER WIDER WIDER */
/* WIDER WIDER WIDER WIDER */
/* WIDER WIDER WIDER WIDER */

/* ADDING 41 pixels to the width */

.chrome.chrome-content.chrome-pane {
    width: 443px;
    }

.chrome-middle-section {
    width: 443px;
    }

.chrome-middle-section-outer-scroller {
    width: 451px;
    }

.chrome-middle-section-inner-scroller {
    width: 458px;
    }

.chrome-field-wrapper {
    width: 443px;
    }

.chrome-data-outer-scroller {
    width: 443px;
    }

.chrome-data-scroller {
    /*width: 443px;*/

    width: 463px;
    padding-right: 20px !important;
    overflow-x: hidden;
    overflow-y: scroll;    
    }

.layer-name-content {
    width: auto;
    max-width: 320px;
    }

.chrome-color-range {
    width: 182px;
    }

.chrome-color-selector-wrapper {
    width: 200px;
    }

.rangeball-2 {
    left: 90px;
    }

.chrome-mini-dropdown.full-width {
    width: 182px;
    }

.chrome-field-mini-input, .chrome-field-mini-input:focus {
    width: 44px;
    border-radius: 2px;
    font-weight: 500;
    position: absolute !important;
    top: 8px !important;
    right: 0;    
    }

.chrome-mini-dropdown {
    width: 134px;
    }

.chrome-pane.styler .select-field-wrap {
    position: relative;
    right: 48px;
    }

#field_wrapper_color {
    border-top: 1px dashed #eee;
    padding-top: 9px;
    margin-top: 6px;
    }    

.mini-input-dual, .mini-input-dual:focus {
    width: 89px !important;
    margin-left: 4px;
    position: relative !important;
    }

.histogram-wrapper {
    position: absolute;
    background: red;
    padding: 10px;
    right: 0;
    bottom: -23px;
    z-index: 99999;
    width: 182px;    
    }

/*data pane*/
.chrome-data-scroller {
    padding: 0;
    }

.chrome-layer-list-wrapper {
    padding: 30px;
    padding-top: 0px;
    }

.chrome-content-header.layer-list-container-title.layer-list {
    padding-left: 30px;
    }

.upload-button-container {
    /*padding-right: 30px;*/
    right: 30px;
    }

.file-list-container-file-list .data-list-line:nth-child(odd) {
    background: #F9F9F9;
    }

.file-popup-trigger {
    position: absolute;
    z-index: 300;
    opacity: 1;
    width: 18px;
    height: 18px;
    right: 1px;
    box-shadow: none;
    background: transparent;
    width: 50px;
    height: 20px;
    right: -5px;
    bottom: 5px;
    color: #3C4759;
    opacity: 1;
    border-radius: 0;
    right: 20px;
    font-weight: 900;
    font-size: 12px;
    width: auto;
    border: 0;
    }

.fa.fa-bars.file-trigger  {
    padding: 4px;
    }

.fa.fa-bars.file-option  {
    padding: 10px;
    }

/*.file-popup-trigger:hover {
    text-decoration: underline;    
    }
*/
.slim-font {
    font-weight: 200;
    }

.file-option {
    cursor: default;
    }

.file-option.title {
    font-size: 18px;
    padding-top: 20px;
    font-weight: 600;
    }

.file-option.sub {
    padding-left: 2px;
    }

.toggles-wrapper.file-options {
    margin-top: 20px;
    position: relative;
    }

.bold-font {
    font-weight: 600;
    }

.tiles-slider {
    width: 400px;
    position: absolute;
    right: 0px;
    top: 14px;
    }

.smooth-input.smaller-input {
    height: 40px;
    font-size: 18px;
    }

.zoomlevels-wrapper {
    position: relative;
    }

.file-option.title.generated-tiles {
    left: 238px;
    position: absolute;
    top: 0px;
    }

.smooth-fullscreen-error-label.tiles-error {
    padding-top: 20px;
    height: 39px; 
    }

.data-list-line:hover .file-name-content {
    /*font-weight: 900;*/
    color: #3C4759;
    }

.data-list-line.processing .file-name-content {
    color: #fff !important;
    font-weight: 500 !important;
    }


/*slider*/
.noUi-pips-horizontal {
    top: 40%;
    }

.noUi-value-horizontal {
    margin-left: -20px;
    padding-top: 7px;
    font-size: 10px;
    }

.noUi-horizontal {
    height: 13px;
    }

.noUi-marker-horizontal.noUi-marker-large {
    height: 6px;
    }

.noUi-horizontal .noUi-handle {
    width: 24px;
    height: 20px;
    left: -12px;
    top: -5px;
    cursor: pointer;
    }

.noUi-handle:after, .noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 8px;
    width: 1px;
    background: #E8E7E6;
    left: 9px;
    top: 6px;
    }

.noUi-handle:after {
    left: 12px;
    }

.leaflet-control-search .search-tooltip {
    overflow: hidden;
    margin-left: 34px;
    margin-top: 0px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0) !important;
    box-shadow: none;
    opacity: 1 !important;
    }

.leaflet-control-search .search-tip {
    margin: 0;
    padding: 6px 6px;
    display: block;
    background: rgba(252, 252, 252, 0.96);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    }

.search-tip:first-child {
    border-radius: 4px 4px 0 0 !important;
    }

.search-tip:last-child {
    border-radius: 0 0 4px 4px !important;
    }

.search-tip:hover {
    background-color: #FCFCFC;
    color: #3C4759;
    font-weight: 600;
    }

.data-list-line.editingFileName:hover .file-name-content {
    visibility: hidden;
    }

.chrome-switch-container.switch-on {
    background-color: rgba(60, 71, 89, 0.28);
    }

.description-control-opacity-container .noUi-active {
    box-shadow: none;
    }

.description-control-opacity-container .noUi-handle {
    box-shadow: none;
    background: #3C4759;    
    }

.description-control-opacity-container .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 21px;
    left: -12px;
    top: -9px;
    cursor: pointer;
    }

.description-control-opacity-container .noUi-handle:after {
    left: 10px;
    }

.description-control-opacity-container .noUi-handle:before {
    left: 7px;
    }

.description-control-opacity-container .noUi-horizontal {
    height: 5px;
    cursor: pointer;
    }

.leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon.leaflet-zoom-animated.leaflet-clickable {
    width: 14px !important;
    height: 14px !important;
    border-radius: 12px !important;
    background: transparent;
    border: 3px solid cyan;
    margin-left: -7px !important;
    margin-top: -7px !important;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    }

.leaflet-marker-icon.leaflet-div-icon.leaflet-editing-icon.leaflet-zoom-animated.leaflet-clickable:nth-child(3) {
    width: 18px !important;
    height: 18px !important;
    border-radius: 18px !important;
    margin-left: -9px !important;
    margin-top: -9px !important;
    border-width: 3px;
    background: rgba(255,0,0,0.5);    
    }

#app {
    /*min-width: auto !important;*/
    }

.chrome.chrome-container.chrome-top {
    height: 0;
    }

#c3-header-metacontainer {
    background-color: transparent;
    }

.c3-zoom-rect {
    fill: transparent;
    }

.description-control-content-box,
.leaflet-popup-content-wrapper,
.description-multiple-toggle-wrapper {
    background: rgba(255,255,255,0.9);
    }

.tour-terms-text-area {
    height: 100%;
    overflow: scroll;
    padding: 20px;  
    }

.tour-terms-container {
    padding-bottom: 90px;
    }

.data-list-line.processing, .data-list-line.processing:hover {
    padding: 12px;
    padding-left: 26px;
    }




.chrome-content-bottom-container {
        bottom: 95px;
}    



 

.time-series-input, 
.time-series-input:focus {
     width: 36px; 
     top: 5px !important; 
}












#layer-menu-inner-content {
    border-radius: 0;
    width: 248px;
    }

.leaflet-bottom.leaflet-right {
    width: 246px;
    /*box-shadow: 0 0 0px 1px red inset;*/
    right: 6px;
    z-index: 1001;
    }

.leaflet-control-layermenu .scroller-frame {
    width: 271px;
    overflow: hidden;
    left: 0;
    width: 246px;
    border-radius: 0px 0px 4px 4px;
    padding: 0;    
    }

.leaflet-control-layermenu .scroller-frame .inner-scroller {
    padding-left: 0;
    padding-right: 0;
    width: 301px;
    /*max-height: 310px;*/
    overflow-x: hidden;
    overflow-y: scroll;    
    }

.leaflet-right .leaflet-control-description {
    padding: 0;
    }

.description-multiple-toggle-wrapper {
    width: 246px;
    overflow: hidden;
    /*min-height: 62px;*/
    }

.description-control-content-box {
    width: 246px;
    }

.description-multiple-toggle-wrapper {
    border-radius: 4px;
    top: -3px;
}    

/*.each-multiple-description:last-child {*/
.each-multiple-description {    
    border: none;
}

.description-control-content-box {
    border-radius: 4px;
}

.description-multiple-toggle-inner {
    /*max-height: 110px;*/
    overflow-x: hidden;
    overflow-y: scroll;
    width: 301px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.description-control-meta-title {
/*    font-size: 15px;
    font-weight: 900;
    margin-bottom: 6px;
    padding-left: 31px;
    color: #666;
    top: 4px;
    position: relative;*/
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 6px;
    padding-left: 0;
    color: #666;
    top: 2px;
    position: relative;
    padding-bottom: 5px; 
/*    margin-top: 15px;   */
}


.compact-legend-view-wrapper .description-control-meta-title {
     margin-top: 15px;      
}

.compact-legend-view-wrapper .description-control-meta-title:first-child {
    margin-top: 0px;
}

.one-layer {
    display: none;
}

.description-control-toggle-opener {
    position: absolute;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    right: 6px;
    top: -3px;
    cursor: pointer;
}

.description-control-toggle-opener:hover {
    opacity: 1;
}

.description-control-toggle-opener:before {
    content: '';
    background: black;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 17px;
    }

.each-multiple-description.active {
    /*display: none;*/
    /*font-weight: 900;*/
    color: #089688;
}

.each-multiple-description.active:after {
    display: none;
}

.each-multiple-description {
    /*padding: 4px 27px 4px 15px;*/
    padding: 4px 70px 4px 15px;
    word-break: break-word;
}

.description-meta-outer-container {
    /*border: 1px solid red;*/
}

.description-opacity-wrapper {
    padding-top: 10px;
    padding-bottom: 0px;
}

.description-control-opacity-title {
    padding: 0 !important;
}

.description-control-opacity-container {
    margin-top: 10px;
    }


#layer-menu-inner-content {
    height: auto;
}    

.enable-edit-mode #layer-menu-inner-content {    
    padding-top: 40px !important;
}

.enable-edit-mode.edit-mode #layer-menu-inner-content {    
    /*padding-top: 40px !important;*/
    padding-bottom: 60px !important;
}



.enable-edit-switch-container-outer {
    width: 266px;
    position: relative;
    left: -5px;    
    z-index: 99999999;
}

.enable-edit-switch-container-inner {
    /*background-color: #EEE;*/
    background-color: #fff;
    height: 36px;
    border-bottom: 1px solid #999;    
}

/*.edit-mode .scroller-frame .inner-scroller #layer-menu-inner-content {*/


.enable-edit-switch-title {
    /*line-height: 2.3;*/
    }

.layers-bottom-container {
    position: relative;
    left: 0px;
    top: -50px;
    z-index: 999999;    
    }

.middle-item:after {
    /*background-color: #eee;*/
    background-color: #fff;
    border-top: 1px solid #999;
}

.legend-each-container {
    margin-bottom: 2px;
    margin-top: 2px;    
}





.legend-section {
    padding: 10px;
    box-shadow: 0 0 0 1px red inset;
    margin-bottom: 200px;
    }


.legend-each-name {
    color: rgb(0, 0, 0);
    cursor: auto;
    display: block;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;  

    margin-bottom: 6px;  
}


.legend-switch {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.chrome-field-wrapper .legend-each-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 48px;

}

.chrome-field-wrapper .legend-each-container .legend-each-color {
    /*position: relative;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    position: absolute;
    float: left;
    left: 0;
    height: 22px;
    width: 36px;
    margin-right: 5px;
    margin-left: 5px;
    top: 1px;      
}

.legend-each-name.target-input {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 7px;
    width: 270px;
}

#field_wrapper_legend-section {
    font-size: 20px;
}

.legend-meta-options-wrapper {
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;    
}

#switch_opacity-slider-option-switch,
#switch_layer-meta-option-switch {
    top: 4px;
}


.legend-each-container.is-off .legend-each-color {
    background-color: #ccc !important;
    opacity: 0.2;
}

.legend-each-container.is-off .legend-each-name {
    opacity: 0.4;
}


.description-control-legend-container {
    margin-top: 12px;    
}

.info-legend-container {
    /*width: 216px;*/

    width: 207px;
    left: 5px;
    position: relative;    

    display: inline-block;
    vertical-align: top;

}


.legend-each-container {
    height: auto;
    min-height: 20px;
    }

.info-legend-gradient-bottomline {
    width: 220px;
    position: relative;
    display: inline-block;
    vertical-align: top;    
    }

.chrome .info-legend-gradient-bottomline {
    top: -10px;
    }


.is-off .info-legend-container { 
    opacity: 0.2
    }

.is-off .info-legend-gradient-container {
    background: #ccc !important;
    }

.is-off .info-legend-gradient-bottomline {
    opacity: 0.4;
    }



.description-control-content-box {
    padding-top: 15px;
}

.compact-legends-expand,
.description-control-minimize {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    border-radius: 18px;
    border: 1px solid;
    text-align: center;
    line-height: 1.6;
    background: transparent;
    opacity: 0.5;
    cursor: pointer;
}

.description-control-minimize {
    line-height: 1.8;
}

.compact-legends-expand:hover,
.description-control-minimize:hover {
    opacity: 0.75;
}

.compact-legends-expand:active,
.description-control-minimize:active {
    opacity: 1;
}


.field-legend {
    border-top: 1px dashed #ccc;
    padding-top: 20px !important;
    padding-bottom: 150px !important;
}


.settingsSelector .button-wrapper {
    position: absolute;
    width: 100%;
    background: white;
    z-index: 99999999;
    bottom: 7px;
    padding-top: 25px;
    border-top: 1px solid #ccc;    
    }


.compact-legends h4 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 7px;
    top: 3px;
    position: relative;
    color: #666;
    font-size: 15px;
    }    



/*.small-pop-up .c3-header-metapair {
    height: auto;
}    */

.small-pop-up .c3-header-metaval {
    padding: 0;    
    display: block;
}

.small-pop-up .c3-header-metakey {
    margin-right: 6px;
}

.small-pop-up .c3-header-metapair {
    height: auto;
    max-width: 250px;
    border: none;
    box-shadow: none;
    border-bottom: none !important;
    margin-bottom: 4px;
}

.description-control-content-box {
    /*overflow-y: scroll;*/
}

.description-control-inner {
    /*overflow-y: scroll;*/
    /*padding-bottom: 15px;*/
    padding-bottom: 0px;
    /*border: 1px solid;*/
    width: 252px;
    padding-right: 35px; 

    overflow: visible;   
}
/*
.description-control-inner.multiview  {
    overflow-y: scroll;
    padding-left: 10px;
    position: relative;
    left: -10px;
    padding-bottom: 10px;
}

*/
.description-control-inner.allow-scrolling {
    overflow-x: hidden;
    overflow-y: scroll;
    /*padding-bottom: 35px;*/
}


.description-control-content-box {
    padding: 0;
}

.description-control-inner {
    margin: 15px;
}

.description-control-opacity-container {
    margin-left: 10px;
    margin-right: 10px;
}

.legend-each-name {
    min-height: 20px;
    position: relative;
    line-height: 1.5;    
    padding-left: 35px;
}

.legend-each-color {
    box-shadow: 0 0 0 2px rgba(255,255,255,1), 0 0 0px 3px rgba(0,0,0,0.1);    
}

.data-list-line.processing.upload-error {
    background-color: #F13151 !important;

    }

.data-list-line.processing.upload-error:before {
    content: 'x';
    position: absolute;
    top: 7px;
    right: 7px;
    font-weight: 900;
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 1.3;
    box-shadow: 0 0 0 2px white;
    opacity: 0.4;
    cursor: pointer;
}

.data-list-line.processing.upload-error:hover:before {
 
    opacity: 1;
 }



.settingsSelector .button-wrapper {
        height: 180px;
}

.save-as-template-button {
    position: absolute;
    bottom: 80px;
    color: #1E638E;
    width: 100%;
    text-align: center;
    font-style: italic;
    text-decoration: underline;    
    cursor: pointer;
}

.save-as-template-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;   
    padding: 35px;
    -webkit-transition: top 500ms ease;
    transition: top 500ms ease;
}

.hidden-template-dialogue {
    top: 120px;
    }

.save-as-template-input-name {
    border: none;
    background-color: #DCDCDC;
    border-radius: 2px;
    font-size: 17px;
    padding: 2px;
    height: 38px;
    margin-right: 6px;
    width: 315px;
    padding-left: 10px;
    padding-right: 10px;
    }

.error-template-input {
    border: 1px solid #C80000;
}    

.save-as-template-error {
    color: #C80000;
    position: absolute;
    top: 12px;
}

.save-as-template-OK-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;    
}

.save-as-template-cancel-button {
     /*position: absolute;*/
    /*bottom: 80px;*/
    color: #C80000;
    /*width: 100%;*/
    /*text-align: center;*/
    font-style: italic;
    text-decoration: underline;    
    cursor: pointer;   
}

.files-container-header {
    white-space: nowrap;
    width: 100%;
    padding: 20px 30px 0px;
    position: relative;
}

.files-sort-select {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 16px;
    padding: 5px 25px 5px 10px;
    background-color: #F4F4F4;
    border: 1px solid #D0D0D0;
    border-radius: 4px 0px 0px 4px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.files-sort-select:after {
    position: absolute;
    top: 50%;
    right: 5px;
    display: block;
    width: 0;
    height: 0;
    margin-top: -3px;
    border-color: #3F4652 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    content: ' ';
}


.files-sort-select.expanded {
    background-color: #DDD;
}


.files-sort-select.expanded:after {
    /*border-color: transparent transparent #3F4652 transparent;*/
    /*border-width: 0 5px 5px 5px;*/
}

.files-search-input-wraper {
    display: inline-block;
    width: 80%;
    position: relative;
    height: 34px;
    font-size: 16px;
    font-family: 'Open Sans', serif;
    color: #4A4A4A;
    border: 1px solid #D0D0D0;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
}

.files-search-input-wraper i.fa.fa-search.search-files {
    position: absolute;
    top: 25%;
    left: 10px;
    color: #CECECE;
}

.files-search-input-wraper input.files-search-input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    padding-left: 30px;
}

.files-container-header .expended-container {
    position: absolute;
    z-index: 100;
    width: 40%;
    height: auto;
}

.files-sort-options {
    position: relative;
    margin: 5px 5px 5px 0;
    background-color: white;
    /*border: 1px solid #E0E0E0;*/
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding-top: 9px;
    padding-bottom: 9px;    
}

.files-sort-options .sort-option {
    /*padding: 10px;*/
    padding: 6px;
    padding-left: 20px;    
    cursor: pointer;
}

.files-sort-options .sort-option:hover {
    background-color: #F6F6F6;    
}

.files-sort-order-switch-wraper {
    padding: 10px;
    position: relative;
}

.chrome-switch-container.sort-order-switch {
    float: none;
    position: inherit;
    top: 0;
    margin: 0 15px;
    width: 96px;
    margin: 0px 20px;

    height: 20px;
    background: #CCC;
    color: white;    
}

.chrome-switch-container.sort-order-switch:before {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;  
}

.chrome-switch-container.sort-order-switch.switch-on:before {
    left: 79px;
}

.chrome-switch-container.sort-order-switch.switch-on:after{
    content: 'Ascending';
    color: white;
    font-size: 11px;
    font-weight: 600;
    left: 12px;
    position: absolute;
    top: 3px;
}

.chrome-switch-container.sort-order-switch:after{
    content: 'Descending';
    font-size: 11px;
    font-weight: 600;
    left: 23px;
    position: absolute;
    top: 3px;
}

.d3-satellite-wrapper {
    height: auto;
}

.layer-list-container-layer-list .data-list-line {
    width: 383px;

}

.chrome-menu-button {
    font-size: 23px;
    padding-top: 4px;
    padding-left: 9px;    
}


.chrome-button.layer {
    padding-top: 4px;    
}

.chrome-button.layer .systemapic-icons {
    font-size: 18px;
    position: relative;
    top: 4px;
}


.leaflet-control-baselayertoggle:after {
    content: 'l';
    font-family: 'systemapic-icons';
    font-style: normal;
    font-weight: 500;
    background-image: none;
    font-size: 18px;
    padding-top: 2px;
}

.baselayertoggle-list {
    left: 26px;
    top: -15px;    
}


.leaflet-control-search .search-button,
.leaflet-control-search .search-button:hover {
    background-image: none !important;
}

.leaflet-control-search .search-button:after {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    font-weight: 500;
    background-image: none;
    font-size: 18px;
    padding-top: 2px;
    color: black;
    position: relative;
    right: 6px;
    top: 5px;
}

.leaflet-draw-toolbar a:before {
    content: 's';
    font-family: 'systemapic-icons';
    font-style: normal;
    font-weight: 500;
    background-image: none;
    font-size: 24px;
    top: 2px;    
}








.file-popup-trigger.add-layer {
    /*float: right;*/
    position: absolute;
    right: 11px;
    left: auto;
    /*background: red !important;*/
}


.file-name-content {
    padding-right: 62px;    
}

.chrome-upload-button {
    top: auto;
}

.leaflet-right.leaflet-top {
    top: auto;
    }

/*.layer-list-container .file-popup-trigger {
    display: none;
    opacity: 0;
    visibility: hidden;
    }*/

.data-list-line.processing, 
.data-list-line.processing:hover {
    background: #3C4759 !important;
    }

.user-counter {
    margin-left: 7px;
    background: #DDD;
    border-radius: 10px;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    font-weight: 900;
    font-size: 10px;
    text-align: center;
    line-height: 1;
    }

.user-counter:hover .project-tooltip {
    opacity:0.9;
    visibility: visible;
}

.active-project .user-counter {
    background: white;
    color: #3C4759;    
    }
 
.info-legend-header {
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;    
    }




.base-layer-color-selector-wrapper {
    margin-top: 10px;    
    }

.base-layer-color-selector-wrapper .chrome-color-ball.target-color-box {
    width: 80px;
    height: 32px; 
    display: inline-block;
    vertical-align: top;   
    }

.base-layer-color-title {
    display: inline-block;
    vertical-align: top;
    line-height: 2.2;
    font-weight: 600;
    margin-left: 10px;
}    














/*NEW UPDATED CSS RULES - NOT PART OF PREVIOUS MERGE! (feb 20th 2016)*/
.tiny-pop-up #c3-header-metacontainer {
    background: white !important;
    }
    
.tiny-pop-up .tableRow.c3-header-metapair:nth-child(even) {
    background: #F6F6F6;    
    }

.tiny-pop-up .small-pop-up .c3-header-metapair {
    font-weight: 500;
    padding: 8px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    }

.tiny-pop-up .small-pop-up .c3-header-metakey {
    font-size: 13px !important;
    width: auto !important;
    }

.tiny-pop-up .small-pop-up .c3-header-metaval {
    font-size: 13px !important;
    word-break: break-word;
    }


.chrome.chrome-content.active-layer.select-wrap {
    /*max-width: 387px;*/
    max-width: 403px;
}

.chrome.chrome-content.active-layer.select-wrap .form-combobox_input {
    height: 31px;
    padding: 5px 10px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
}

.chrome.chrome-content.active-layer.select-wrap .form-combobox_options_wrapper {
    display: none;
    border-top: 1px solid #ccc;
}

.chrome.chrome-content.active-layer.select-wrap .form-combobox_options_wrapper.open {
    display: block;
}

.chrome.chrome-content.active-layer.select-wrap .form-combobox_options_wrapper .form-combobox_option.item {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.chrome.chrome-content.active-layer.select-wrap .form-combobox_options_wrapper .form-combobox_option.item.hover {
    background-color: #3C4759;
    color: white;
}

.chrome.chrome-content.active-layer.select-wrap .form-combobox_options_wrapper .form-combobox_option.item.disabled-option:hover {
    background-color: #FFF;
    color: #000;
    cursor: default
}

.chrome-content.active-layer.select-wrap:before{
    right: 2px;
}










/*  CRASH  */
/*  CRASH  */
/*  CRASH  */

.big-slider-outer-container {
    position: absolute;
    width: 100%;
    bottom: 50px;
    padding-left: 100px;
    text-align: left;
    margin: auto;
    padding-right: 100px;
    }



.big-slider-inner-container {
    padding: 24px;
    background: white;
    border-radius: 10px;    
    padding-left: 70px;
    padding-right: 120px;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    }    

.big-slider-play-button {
    left: 24px;
    position: absolute;
    font-size: 32px;
    top: 23px;
    cursor: pointer;
    }

.big-slider-step-forward {
    position: absolute;
    right: 24px;
    font-size: 32px;
    top: 23px;     
    cursor: pointer;
    }

.big-slider-step-backward {
    position: absolute;
    font-size: 32px;
    top: 23px; 
    right: 65px;
    cursor: pointer;
    }

.big-slider-tick-container {
    left: 0;
    width: 100%;
    bottom: -13px;
    padding-left: 0;
    padding-right: 0;
    height: 2px;
    position: relative;
    text-align: left;
    }

.big-slider-tick {
    width: 7.69%;
    height: 12px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #999;
    text-align: center;
    }

.big-slider-tick:before {
    content: '';
    position: absolute;
    right: 0;
    height: 10px;
    width: 1px;
    background: #C8C8C8;
    top: -10px;
    }

.big-slider-year-tick {
    position: absolute;
    width: 100%;
    top: -58px;
    font-size: 16px;    
    }

.disable-button {
    cursor: default;
    opacity: 0.2;
    }

.big-slider-current-date {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 9px;    
    display: none;
    }







/* *************************************** */
/* *************************************** */
/* *************************************** */

.big-graph-outer-container {
    background: white;
    padding: 20px;
    /*padding-right: 0px;*/
    position: absolute;
    right: 100px;
    bottom: 110px;
    border-radius: 5px;
    }

   /* path.line {
        stroke-width: 1.0 !important;       
        }*/

    .sub._0 path.line,
    .sub._1 path.line {
        stroke-width: 0;
        }

    .sub._0 path.area,
    .sub._1 path.area {
        fill-opacity: 1;
        }










.raster-styler {
    /*border: 1px solid red;*/
    /*padding-right: 16px;*/
    padding-left: 10px;
    padding-right: 24px;

    position: relative;

    margin-top: 20px;
    margin-bottom: 100px;
}

.raster-range-marks {
    position: relative;
    bottom: 9px;
    font-size: 12px;
    color: #999;
}

.raster-range-min-mark {
    position: absolute;
    right: -10px;
    top: 0;
}

.raster-range-max-mark {
    position: relative;
    left: -3px;    
}

.raster-color-range-wrapper {    
    height: 11px;
    position: relative;
    padding-right: 16px;
    top: -12px;
    }

.raster-color-range {
    position: absolute;
    height: 11px;
    background-color: red;
    width: 10px;
    top: -19px;
    left: 15px;
    }

.raster-range-slider .noUi-connect {
    background-color: transparent !important;
    }

.raster-color-selector-wrapper {
    position: absolute;
    bottom: -28px;
    width: 20px;
    height: 20px;
    padding: 0px;
    text-align: center;
    width: 30px;
    left: -15px;
    }

.raster-color {
    border-radius: 25px;
    bottom: -31px;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 0px 2px white inset, 0 0 0px 1px #c8c8c8;    
    display: block;
    float: none;
    margin: 0;
    left: auto;
    right: auto;
    position: relative !important;
    margin: auto;
    top: 5px !important;
    }

.raster-color-number {
    position: absolute;
    top: -45px;
    font-size: 12px;
    text-align: center; 
    width: 100%;
    }

.big-graph-outer-container {
    right: 0;
    bottom: 35px;
    }

.big-slider-outer-container {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    right: 50px;
    z-index: 1000;  
    }

.big-slider-inner-container {
    width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    z-index: 10;
    border-radius: 0px 0px 5px 5px;    
    }

.big-slider-outer-container .noUi-horizontal {
    height: 9px;    
    }

.big-slider-year-tick {
    top: -53px;
    font-size: 14px;
    }

.big-slider-tick {
    font-size: 10px;
}    

.big-slider-outer-container .noUi-horizontal .noUi-handle {
    width: 10px;
    height: 18px;
    left: 0px;
    top: -6px;
}

.raster-styler .noUi-handle{
    width: 18px;
    left: -9px;
}


.big-slider-play-button,
.big-slider-step-forward,
.big-slider-tap-forward,
.big-slider-step-backward,
.big-slider-tap-backward {
    font-size: 21px;    
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    }


.big-slider-button-container {
    position: absolute;
    bottom: 8px;
    /*width: 100%;*/
    width: 530px;
    text-align: center;
    left: 0;    
}

#field_mini_input_cube-input-left {
    left: -13px;
}

#field_mini_input_cube-input-right {
    left: -33px;
}


.add-color-stop-button {
    padding: 10px;
    background: #FFC200;
    cursor: pointer;
    position: absolute;
    bottom: -125px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.1);
}

.add-color-stop-button:active {
   box-shadow: none;
}





/*.raster-color-selector {
    padding: 3px;
    background: red;    
}*/

.add-stop-yo {
    position: absolute;
    bottom: -120px;
    background: #C9C9C9;
    padding: 10px;
    border-radius: 4px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;    
    }

.add-stop-yo:hover {
    background: #C6C6C6;
}


.add-stop-yo:active {
    background: #C3C3C3;
}

.noUi-origin {
    cursor: pointer;
}


.raster-stop-list-container {
    position: relative;
    margin-top: 60px;
    text-align: center;
    padding-bottom: 45px;
}


.stop-list-each {
    margin-bottom: 10px;
    position: relative;
}

.stop-list-item,
.stop-list-color-ball-wrapper {
    display: inline-block;
    vertical-align: top;
}

.stop-list-color-ball-wrapper {
    position: relative;
    width: 20px;
    height: 20px;    
}

.stop-list-color-ball {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    display: block;
    border: none;
    box-shadow: none;    
}

.raster-styler-description {
    text-align: center;  
    position: relative;
    top: 20px;  
    font-size: 12px;
    z-index: -1;
    }

.stop-list-no {
    width: 26px;
    border-right: 1px solid #c8c8c8;
    margin-right: 6px;
    text-align: center;
    padding-right: 6px;
}

.stop-list-no-title {
    font-size: 14px;
    font-weight: 600;
}

.stop-list-val,
.stop-list-color-wrapper,
.stop-list-alpha-wrapper {
    padding-right: 6px;
    margin-right: 6px;
    border-right: 1px solid #c8c8c8;
}


.stop-list-title,
.stop-color {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    width: 45px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    margin-left: 5px;
    margin-right: 5px;
}

.stop-list-kill-color {
    left: auto;
    right: -22px;
    top: 0px;
    font-size: 14px; 
}


input.stop-list-title,
input.stop-color {
    background: #EEE;
}



.stop-list-color-ball {
    width: 22px;
    height: 19px;
    left: 4px;
    position: relative;
    border-radius: 2px;
}


.stop-list-add-color {
    position: absolute;
    top: 14px;
    left: 21px;
    z-index: 9999;
    /*opacity: 0.2;*/
    color: rgba(220, 220, 220, 0.57);
    cursor: pointer;
}


.stop-list-add-color:hover {
    color: rgba(251, 22, 50, 0.58);
}

.raster-options-button,
.raster-stops-view-as-list-button {
    color: white;
    font-family: 'Open Sans', sans-serif, "Helvetica Neue", Helvetica, Arial;
    font-weight: 700;
    display: inline-block;
    padding: 5px 9px;
    border-radius: 3px;
    cursor: pointer;    
    border: 1px solid #DCDCDC;
    background: #F9F9F9;
    color: #616161;
}

.raster-options-button  {
    margin: 2px;
    font-size: 10px;
}





.raster-stops-button-container {
    text-align: center;
}


.close-smooth-fullscreen {
    background: white;
}

.smooth-fullscreen {
    padding-bottom: 200px !important;
}


.chrome-pane.styler .chrome-color-ball {
    overflow: hidden;
}

.raster-color-range:after,
.chrome-pane.styler .chrome-color-ball:after {
    content: '';
    background-image: url('/images/noPxl-micro.png');
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;    
}



.range-button-container {
    text-align: center;
    top: 50px;
    position: relative;
}

.raster-styler-range-wrapper {
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8c8c8;
    padding-bottom: 13px;
    padding-top: 4px;
    position: relative;
    top: 6px;
}

.raster-styler-range-wrapper .stop-color {
    display: block;
}

.raster-styler-range-wrapper .stop-color {
    width: 70px;   
}

.raster-styler-range-min-wrapper,
.raster-styler-range-max-wrapper {
    display: inline-block;
}

.raster-styler-range-title {
    float: left;
    font-weight: 600;
    top: 13px;
    position: relative;    
}