/*@font-face {
    font-family: 'Helvetica neue';
    src: url(phantomfont/Open_Sans/OpenSans-Light.ttf);
}*/


.leaflet-top.leaflet-left,
.leaflet-control-layermenu.leaflet-control,
#legends-collapser,
#start-pane{

	}

.cartocss-toolbar-button{
	display: none !important;
	opacity: 0 !important;
	}


.chrome-menu-button,
.chrome-button.datalib,
.chrome-button.settingsSelector,
.chrome-button.settings,
.chrome-button.share,
.chrome-button.layer,
.leaflet-control-layermenu.leaflet-control,
.leaflet-top.leaflet-left,
.description-control-header-toggle,
.leaflet-control-mouseposition.leaflet-control,
.chrome.chrome-container.chrome-right,
.chrome.chrome-container.chrome-left,
.chrome-button.account,
.cpu-wrapper,
.compact-legends-expand {
	display: none !important;
	visibility: none;
	opacity: 0;
	}

.chrome-buttons {
	left: 0 !important;
	}

.leaflet-control-scale-line {
    	background: white;
    	color: black;	
	}

.description-control-content-box, 
.leaflet-popup-content-wrapper, 
.description-multiple-toggle-wrapper {
	background: white;
	}

.leaflet-container .leaflet-control-attribution a {
    color: black;
}
.leaflet-control-attribution.leaflet-control {
    color: black;
}
.leaflet-control-attribution.leaflet-control {
    background: white !important;
}
